<!-- 
<%= json.String %>
<br />
<%= json.mobile %>

-->
<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" type="text/css" href="css/global.css" />
	  <link rel="stylesheet" type="text/css" href="css/homepage.css" />
	  <link rel="stylesheet" type="text/css" href="css/chatBox.css" />
  </head>

	<script src="./socket.io/socket.io.js"></script>


  <body>
<!-- instead of loading in a huge html page, can can have the initial ones load in, and have our socket
send forth new pages which touch pages that users are navigating to, and simply append them to the end of the body. The page will grow more and more until all the pieces have been loaded, but this will provied the best user experience I think. -->
	<div id="windowLoad">Loading...</div>

<!-- ********************************************************************************WELCOME SCREEN -->

  <div id="home" class="nav-page initial-page">

  	<div class="welcomeBox">
  		<div class="welcomeMessage">Welcome</div>
  		<div id="formWrapper" class="formWrapper">
		  	<form id="userID" action="/#mainmenu">
		  		<div>
		  			<label for="inputUserID" class="label">Choose Your Display Name </label><input id="inputUserID" class="userNameField" placeholder="Display Name..."/>
		  		</div>
		  		<div>
		  			<button type="submit" class="submitButton">CONTINUE</button>
		  		</div>
		  	</form>
		  </div>
	  </div>

  </div>

<!-- ********************************************************************************MAIN MENU PAGE -->

  <div id="mainmenu" class="nav-page">

  	<div class="wrapper">
  		<div id="pageTitle" class="pageTitle d_c2"></div>
  		<div id="logout" class="logout right">Logout</div>
  		<div class="contentWrapper">
  			<div class="gameWrapper d_c1">
  				game html will be populated through javascript using fetched JSON

  				<div class="row row1">
  					<a href="/#game" class="d_c1">
		  				<div class="game game_1 left">
		  					<span class="gameName">My Test Game</span>
		  				</div>
		  			</a>

	  				<div class="game game_1 right">
	  					<span class="gameName">My Test Game</span>
	  				</div>

	  			</div>

	  			<div class="row row1">

	  				<div class="game game_1 left">
	  					<span class="gameName">My Test Game</span>
	  				</div>

	  				<div class="game game_1 right">
	  					<span class="gameName">My Test Game</span>
	  				</div>

	  			</div>

	  			<div class="row row1">

	  				<div class="game game_1 left">
	  					<span class="gameName">My Test Game</span>
	  				</div>

	  				<div class="game game_1 right">
	  					<span class="gameName">My Test Game</span>
	  				</div>

	  			</div>


  			</div>
  			<div id="widgetContainer" class="widgetContainer"><!-- chat box goes here --></div>
  		</div>
  	</div>

  </div>
  </body>

<!-- ********************************************************************************SCRIPTS -->
<script src="js/socket.js"></script>
<script src="js/routing.js"></script>
<script src="js/chat.js"></script>
<script src="js/pageScripts.js"></script>
<script src="js/partials.js"></script>

</html>