form#chat { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form#chat .chatBox { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form#chat button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
#messages li:nth-child(even) { background: #fff; }
.bottomDisplay {position: fixed;bottom: 42px;padding: 10px;background-color: #000000;width: 100%;height: 35px;color: #C1C1C1;}
