* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
}
body { 
	font: 13px Helvetica, Arial; 
	background-color:#F5F5F5;
}
/*hide pages*/
.nav-page {
	display: none;
}
.nav-page:target {
	display: block;
}
.noAnchor {
	color:inherit;
	text-decoration: none;
}

.left {
	float:left;
}
.right {
	float:right;
}
.wrapper {
	width:100%;
}

.d_c1 {
	color: #31DA7C;
}
.d_c2 {
	color: #20824C;
}
.d_c3 {
	
}