.welcomeBox {
	background:linear-gradient(to bottom right, #F2FFF8, #F2FFFD);
	width: 50%;
    min-width: 600px;
    border: 1px outset #31DA7C;
    border-radius: 20px;
    height: 400px;
    margin: auto;
    margin-top: 200px;
    padding: 20px;
}

.welcomeMessage {
	font-size: 2.5em;
    font-weight: 500;
    color: #20824c;
}

.formWrapper {
	width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 70px;
}

.userNameField {
	background: none;
    background-color:#ffffff;
    border: 1px inset #31DA7C;
    border-radius: 10px;
    padding: 2px 2px 2px 5px;
    width: 100%;
    height: 30px;
    color: #20824C;
    font-weight: 500;
    margin-top: 10px;
}

.submitButton {
	background:none;
	background: #ffffff;
	letter-spacing: 2px;
	width: 100%;
    border-radius: 10px;
    height: 30px;
    color: #20824C;
    border: 1px outset #31DA7C;
    margin-top: 10px;
}

.label {
	color: #20824c;
    font-size: 1.5em;
}

.pageTitle {
	font-size: 3em;
    margin: 40px;
}

.contentWrapper {
	min-width: 1200px;
}

.gameWrapper {
	width: 75%;
    background: #CCCCCC;
    float: left;
    min-width: 900px;
    clear: left;
    min-height:600px;
}

.widgetContainer {
	width: 25%;
    background: #080808;
    float: right;
    clear: right;
    min-width: 300px;
    position:relative;
}

.game {
	width: 400px;
    margin: 15px auto;
    background: #fff;
    border-radius: 30px;
    height: 200px;
    position: relative;
}

.gameName {
	position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: 2em;
}

.row {
	clear: both;
	width: 830px;
    margin: 0px 100px;
}

.logout {
    position: absolute;
    right: 0px;
    top: 20px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 50px 10px 10px;
    cursor: pointer;
}